# Server configuration
PORT=9011
ADMIN_PASS=Konfirmasi
OWNER_PASS=OwnerKonfirmasi
SESSION_SECRET=vylozzone_secret_12345

# API keys
API_KEY=
GEMINI_API_KEY=
PHONE_NUMBER_BOT=

# Optional bot settings
AUTO_UPDATE=off
TYPE_CONNECTION=qr
BOT_DESTINATION=private
